<!DOCTYPE html>

<head>
  <!--JQUERY-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="assets/css/alertify.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/alertify.rtl.min.css">
  <script src="assets/js/alertify.js"></script>

  <!-- Los iconos tipo Solid de Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="shortcut icon" href="assets/img/user.png" type="image/x-icon">
  <!-- Nuestro css-->
  <link rel="stylesheet" type="text/css" href="assets/css/styleLoginEC2.css" th:href="@{/css/styleLoginEC2.css}">
</head>
<body>
 
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="assets/img/user.png" th:src="@{/img/user.png}"/>                  
            </div>
            <div class="col-12 user-imglogo">
              <img src="assets/img/logo2.png" th:src="@{/img/logo2.png}"/>                  
            </div>
            
            <form class="col-12" action="/login" method="POST">
                <div class="form-group" id="user-group">
                    <input type="email" id="email" required class="form-control" placeholder="Correo electr&oacute;nico" name="email"/>
                </div>
                <div class="form-group" id="contrasena-group">
                    <input type="password" id="password" required class="form-control" placeholder="Contrasena" name="password"/>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>Ingresar</button>
                <button type="reset" class="btn btn-warning"><i class="fas fa-trash"></i>Limpiar</button>
            </form>
            <% if(logged == 2) { %>              
              <input type="hidden" id='variable' value=<%=errormsg%>>              
              <script>
                var x = document.getElementById("variable").value;
                if (x == 1)
                {
                  alertify.set('notifier','position', 'bottom-left');
                  alertify.error('Usuario no confirmado. Revise su correo.');
                }
                else// if(x == 'Incorrect')
                {
                  alertify.set('notifier','position', 'bottom-left');
                  alertify.error('Usuario y/o contraseña invalidos.');
                }                
              </script>                        
            <% } %>
            <% if( logout == 1) { %>            
                <script>
                  alertify.set('notifier','position', 'bottom-left');
                  alertify.success('Has cerrado la sesión.');
                </script>
            <% } %>
        </div>
    </div>
</div>
</body>


