<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login y Registro con HTML5 y CSS3</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/images/Login-Logo.png" type="image/x-icon">
  <link href="assets/css/styleLoginEC.css" rel="stylesheet">
</head>
<body>
  <main>
      <article>
          <section>
              <form action="/login" method="POST">                  
                  <p><img src="assets/images/LogoCE.png" alt=""/></p>
                  <h1>Inicia Sesion</h1>
                  <input type="email" id="email" name="email" required placeholder="Correo electr&oacute;nico"><br/>
                  <input type="password" id="password" name="password" required placeholder="Contrase&ntilde;a"><br/>
                  <button type="submit">Entrar</button>
                  <button type="reset">Limpiar</button> 
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  <p> </p>
              </form>
          </section>
      </article>
  </main>
  
</body>


